
/* .imgSignUp{
    width:100%;
    height:100%;

} */
.listItems{
    display:flex;
    align-items:center;
}
ul{
    list-style-type:none;
}
li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size:16px;
    margin-bottom:10px;
}
li p{
    text-align:left;
    line-height:1;
}
input{
    padding:10px 0;
    margin-bottom:10px;
    width:100%;
    padding-left:20px;
    border-radius: 5px;
    font-size:16px;
    border:2px solid hsl(231, 7%, 60%);
}
button{
    padding:10px 0;
    margin-bottom:10px;
    width:100%;
    color:white;
    background-color: hsl(234, 29%, 20%);
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    font-weight:bold;
    border-radius:5px;
    font-size:16px;
    border:none;
    transition: 0.5s;
}
button:hover{
    cursor:pointer;
    background:linear-gradient(45deg,hsl(4, 100%, 67%),rgb(255, 170, 51));
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%); /* x-axis,y-axis,blur-effect,spread-radius,color */
    transition: 0.5s;
    color:black;
}
.inputError{
    border:2px solid red;
    background-color:lightpink;
}
.inputError::placeholder{
    color:red;
}
.inputContainer{
    position:relative;
    width:100%;
}

.labelError::after{
    content:"Valid email required.";
    color:red;
    font-family:'Roboto',Arial, Helvetica, sans-serif;
}
.headline{
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:3rem;
    color:hsl(234, 29%, 20%);
}
.checkmarks{
    margin-right: 5px;
}
.mainStuff{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    background-color:white;
    padding:30px;
    height:100%;
    border-radius:10px;
    /* outline: 2px solid red; */
}
.mainStuffSuccess{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    width:60%;
    margin:0 auto;
    /* height:300px; */
    padding:30px 30px;
    border-radius:5px;
    font-family:'Roboto',Arial, Helvetica, sans-serif;

}
.newsSection{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:10px;
    line-height:1.8;
    margin-right:20px;
    margin-top:30px;
}
.newsSection p{
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    font-size:16px;
}
.emailForm{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    /* outline:2px solid red; */
}
.emailForm label{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    width:100%;
}
.list{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    font-family:'Roboto',Arial, Helvetica, sans-serif;
    line-height:1.8;
}
.successCard{
    display:flex;
    flex-direction:column;
    justify-content:flex-start; /*y axis */
    align-items:flex-start; /*x axis */
    height:100%;
}
.emailSuccessMessage{
    font-weight:bold;
}
.successCard img{
    margin-bottom:20px;
}
.successCard h1{
    text-align:left;
    font-size:3rem;
    line-height:1;
    margin-bottom:10px;
}
.successCard p{
    text-align:left;
    line-height:1.3;
    margin-bottom:20px;
}
.checkmarkSuccess{
    width:50px;
    height:50px;
}
@media only screen and (max-width:570px) and (min-width:381px){
    .mainStuffSuccess{
        width:70%;
        margin:0 auto;
    }
}
@media only screen and (max-width:380px){
    .mainStuff{
        flex-direction:column-reverse;
        align-items:center;
        justify-content:center;
        padding:0;
        
    }
    .mainStuffSuccess{
        width:100%;
        height:100vh;
    }
    .successCard{
        padding-top:100px;
        height:100%;
    }
   
    .successCard button{
        margin-top:150px;
    }
    .imgSignUp{
        display:none;
    }
    .imgContainer{
        background:url('../assets/images/illustration-sign-up-mobile.svg');
        background-size:cover;
        background-position: center center;
        width:100%;
        height:350px;
        border-radius: 0 0 10px 10px;
    }
    .newsSection{
        padding:20px;
        margin:0;
    }
    
}